/*#stop {
	width: 100px;
	height: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	background: red;
	float: left;
}

#play {
	width: 100px;
	height: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	background: red;
	float: left;
	margin-left: 20px;
}*/

/* entire container, keeps perspective */
/*.flip-container {
	-webkit-perspective: 1000;
}*/
	/* flip the pane when hovered */
/*	.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
	}*/

/*.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}*/

/* flip speed goes here */
/*.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}*/

/* hide back of pane during swap */
/*.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}*/

/* front pane, placed above back */
/*.front {
	z-index: 2;
	background: red;
}
*/
/* back, initially hidden pane */
/*.back {
	-webkit-transform: rotateY(180deg);
	background: blue;
}*/

#experiment {
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -o-perspective: 800;
    perspective: 800;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
} 

#cube {
    position: relative;
    margin: 100px auto;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 2s linear;
    -moz-transition: -moz-transform 2s linear;
    -o-transition: -o-transform 2s linear;
    transition: transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.face {
      position: absolute;
      height: 360px;
      width: 360px;
      padding: 20px;
      background-color: rgba(50, 50, 50, 0.7);
}

#cube .one  {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
    -o-transform: rotateX(90deg) translateZ(200px);
    transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -o-transform: translateZ(200px);
    transform: translateZ(200px);
}

#cube .three {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    -o-transform: rotateY(90deg) translateZ(200px);
    transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
    -o-transform: rotateY(180deg) translateZ(200px);
    transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
    -o-transform: rotateY(-90deg) translateZ(200px);
    transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
    -webkit-transform: rotateX(-90deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) translateZ(200px);
    -o-transform: rotateX(-90deg) translateZ(200px);
    transform: rotateX(-90deg) translateZ(200px);
}